*.o
*.class
*.a
*.la
*.lo
*.so
*.dylib
*.dll
*.pyc
Makefile.in
Makefile
.deps
.libs
.DS_Store
ChangeLog
README
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
doc/doxygen-build.stamp
doc/html/
doc/latex/
doc/libmapper.doxyfile
examples/pwm_example
examples/py_tk_gui/pwm.py
examples/py_tk_gui/setup.py
jni/Mapper/NativeLib.java
jni/*.h
jni/libmapper-0.jar
libmapper-0.2.tar.gz
libmapper-0.pc
libmapper.pc
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/config.h
src/config.h.in
src/stamp-h1
swig/build/
swig/installed_files.log
swig/mapper.py
swig/mapper_wrap.c
swig/setup.py
test/test
test/testadmin
test/testdb
test/testdynamic
test/testexpression
test/testinstance
test/testlinear
test/testmany
test/testmonitor
test/testparams
test/testparser
test/testprops
test/testquery
test/testrecv
test/testsend
test/testvector

