*.o
*.class
*.a
*.la
*.lo
*.so
*.dylib
*.dll
*.exe
*.pyc
Makefile.in
Makefile
.deps
.libs
.DS_Store
ChangeLog
README
aclocal.m4
autom4te.cache
bindings/python/build/
bindings/python/dist
bindings/python/pypi
bindings/python/libmapper.egg-info
bindings/python/setup.py
bindings/python/libmapper/mapper.py
compile
config.guess
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
libtool
ltmain.sh
missing
doc/doxygen-build.stamp
doc/html/
doc/latex/
doc/libmapper.doxyfile
examples/pwm_example
bindings/java/mapper/NativeLib.java
bindings/java/*.h
bindings/java/*.log
bindings/java/libmapper.jar
bindings/java/TestInstances/code/
libmapper.tar.gz
libmapper.pc
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
NEWS
src/config.h
src/config.h.in
src/stamp-h1
test/test
test/testbundle
test/testcalibrate
test/testconvergent
test/testcpp
test/testcustomtransport
test/testexpression
test/testgraph
test/testinstance
test/testinterrupt
test/testlinear
test/testlist
test/testlocalmap
test/testmany
test/testmapfail
test/testmapinput
test/testmaplocation
test/testmapprotocol
test/testmapscope
test/testmonitor
test/testnetwork
test/testparams
test/testparser
test/testprops
test/testrate
test/testreverse
test/testselfmap
test/testsetiface
test/testsetremote
test/testsignalhierarchy
test/testsignals
test/testspeed
test/teststealing
test/testthread
test/testunmap
test/testvector
### VisualStudio ###
build
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
# Visual Studio 2015/2017 cache/options directory
.vs/
# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

